#header {
  margin-top: -7px;
  height: 60px;
  background-color: lightseagreen;
  border: 2px solid orangered;
  opacity: 0.7;
  border-radius: 10px;
}

body.mainMenu {
  background-image: url("../resources/bgmain.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

body.summoner {
  background-image: url("../resources/bgsumm.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

body.error {
  background-image: url("../resources/error.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#footer {
  background-color: beige;
  border-radius: 15px;
  opacity: 0.7;
  margin-bottom: 5px;
}

#fav {
  background-color: khaki;
  border: 2px solid skyblue;
  border-radius: 10px;
  height: 200px;
  text-align: center;
  min-width: 125px;
}

#favs img{
  cursor: pointer;
}

#search {
  margin-top: 20px;
}

.support {
  background-color: #0099cc;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

#supportButton {
  position: fixed;
  bottom: -4px;
  right: 10px;
}

#elotr > td {
  vertical-align: middle;
}

.center {
  text-align: center;
}

#helpbutton {
  cursor: pointer;
  margin-top: -6px;
}

#footer > span {
  color: black;
}

#aux {
  display: none;
}

hr {
  border-color: grey;
}

#opgg {
  margin-top: 25px;
  margin-bottom: 50px;
}

#opgg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#masteryTable,
#eloTable,
#matchTable {
  background-color: white;
  border: 1px solid black;
}

#menubutton {
  width: 45px;
  height: 45px;
  margin-top: -6px;
  position: relative;
  z-index: 9999;
}

#supportModal {
  position: fixed;
  top: 40%;
  left: 33%;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}
