#fav{
    background-color: khaki;
    border: 2px solid skyblue;
    border-radius: 10px;
    height: 200px;
}

#header{
	margin-top: -7px;
	height: 60px;
   	background-color: lightseagreen;
   	border: 2px solid orangered;
   	opacity: 0.7;
   	border-radius: 10px;
}

#footer{
	background-color: beige;
	border-radius: 15px;
	opacity: 0.7;
	margin-bottom:5px;
}

input #header{
	opacity:1;
}

#search{
	margin-top:20px;
}

body.mainMenu{
	background-image: url('https://images.wallpapersden.com/image/download/soraka-nightbringer-dawnbringer-lol_68262_3840x2160.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}

#elotr > td{
	vertical-align: middle;
}

#mtr > td{
	vertical-align: middle;
}


.center{
	text-align: center;
}

body {

}

#helpbutton{
	cursor:pointer;
}

#starimg{
	cursor: pointer;
}

